# Exercise: Have a look at some neural RCT data using Pandas

In [ ]:
import pandas as pd

# Set some Pandas options: maximum number of rows/columns it's going to display
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 100)

# Load electrophysiology data

In [ ]:
df = pd.read_csv('RCT_collected_data.csv')

## 1. How many rows/columns does the data set have?

## 2. Display the first 5 rows of the DataFrame

## 3. Display the names and datatypes of all the columns

## 4. Display the unique values of the `high K concentration` and of the `treatment` columns

## 5. Display the main statistics of the `max_spikes` column

## 6. Show all the rows where the max number of spikes is larger than 50

## 7. Display the main statistics of `'max_spikes'`, for the rows where `high K concentration` is `8 mM` and `15 mM` (separately)

Are the distributions any different?

## 8. Display the statistics of `max_spikes` when `high K concentration` is `8 mM`, and the maximum number of spikes is <= 100

Does that change your conclusion?

## 9. Transform the `high K concentration` column into a numerical column

a) Discard the last three characters of the columns (`' mM'`)

b) Use `.astype(float)` to convert to floating point numbers

c) Save the result in a column `K (mM)`