# Exercise: Add experiment information to electrophysiology data

In [2]:
import pandas as pd

# Set some Pandas options: maximum number of rows/columns it's going to display
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 100)

# Load electrophysiology data

In [4]:
df = pd.read_csv('RCT_collected_data.csv')
info = pd.read_csv('op_info.csv')

* What is the shape and what are the columns of each data frame? 
* What is the level of analysis of each dataframe?

In [5]:
df.head()

,OP,filename,slice,cell_ch,cell_ID,day,treatment,hrs_incubation,repatch,hrs_after_OP,Rs,Rin,resting_potential,max_spikes,Rheobase,AP_heigth,TH,max_depol,max_repol,membra_time_constant_tau,capacitance,comments,rheo_ramp,AP_halfwidth,Rheobse_ramp,Unnamed: 27,rheos_ramp,comment,,high K concentration,RMP_from_char
0,OP230420,23420003.abf,S1,1,23420S1c1,D1,TTX,0.0,no,10.416389,6.675643,39.025301,-74.285889,24,200.0,80.749512,-35.278320,336.181641,-60.791016,19.40,510.601767,0,753.380113,1.151009,NaN,NaN,NaN,NaN,NaN,8 mM,-61.828554
1,OP230420,23420003.abf,S1,3,23420S1c3,D1,TTX,0.0,no,10.416389,7.867174,48.728367,-69.573975,26,300.0,78.448486,-32.043457,350.097656,-67.138672,17.30,393.397918,1,585.102837,1.006321,NaN,NaN,NaN,NaN,NaN,8 mM,-60.460298
2,OP230420,23420003.abf,S1,6,23420S1c6,D1,TTX,0.0,no,10.416389,8.820134,35.971082,-54.956055,22,300.0,76.660156,-29.827881,270.629883,-52.246094,14.85,426.098774,3,173.915797,1.266335,NaN,NaN,NaN,NaN,NaN,8 mM,-59.615979
3,OP230420,23420003.abf,S1,7,23420S1c7,D1,TTX,0.0,yes,10.416389,7.269195,39.186101,-69.268799,24,300.0,75.030518,-29.699707,242.553711,-71.411133,17.15,478.273362,4,598.079936,0.994396,NaN,NaN,NaN,NaN,NaN,8 mM,-61.173839
4,OP230420,23420003.abf,S1,8,23420S1c8,D1,TTX,0.0,yes,10.416389,6.000400,31.599917,-70.550537,22,350.0,81.011963,-33.068848,309.448242,-61.401367,16.65,575.513924,5,786.927898,1.182830,NaN,NaN,NaN,NaN,NaN,8 mM,-60.956350

In [6]:
df.shape

(827, 31)

In [7]:
info.head()

         OP tissue_source      area  patient_age  patcher
0  OP230420         Mitte  temporal           33    Aoife
1  OP220623       Virchow   frontal           27  Fiachra
2  OP240507       Virchow   frontal           47  Fiachra
3  OP231109       Virchow   frontal           10  Fiachra
4  OP220426     Bielefeld   frontal           32  Fiachra

In [8]:
info.shape

(42, 5)

# 1. Add experiment information to the electrophysiology results

* Use a left join to merge the data
* Is there information for every experiment?
* How many experiments did each patcher perform?  (i.e., individual OPs, or rows in `info`)
* How many samples did each patcher analyze?  (i.e., individual rows in `df`)
* Can you join the data another way to get only complete rows?

In [10]:
df_with_info = df.merge(info, on='OP', how='left')

In [11]:
df_with_info.head()

,OP,filename,slice,cell_ch,cell_ID,day,treatment,hrs_incubation,repatch,hrs_after_OP,Rs,Rin,resting_potential,max_spikes,Rheobase,AP_heigth,TH,max_depol,max_repol,membra_time_constant_tau,capacitance,comments,rheo_ramp,AP_halfwidth,Rheobse_ramp,Unnamed: 27,rheos_ramp,comment,,high K concentration,RMP_from_char,tissue_source,area,patient_age,patcher
0,OP230420,23420003.abf,S1,1,23420S1c1,D1,TTX,0.0,no,10.416389,6.675643,39.025301,-74.285889,24,200.0,80.749512,-35.278320,336.181641,-60.791016,19.40,510.601767,0,753.380113,1.151009,NaN,NaN,NaN,NaN,NaN,8 mM,-61.828554,Mitte,temporal,33.0,Aoife
1,OP230420,23420003.abf,S1,3,23420S1c3,D1,TTX,0.0,no,10.416389,7.867174,48.728367,-69.573975,26,300.0,78.448486,-32.043457,350.097656,-67.138672,17.30,393.397918,1,585.102837,1.006321,NaN,NaN,NaN,NaN,NaN,8 mM,-60.460298,Mitte,temporal,33.0,Aoife
2,OP230420,23420003.abf,S1,6,23420S1c6,D1,TTX,0.0,no,10.416389,8.820134,35.971082,-54.956055,22,300.0,76.660156,-29.827881,270.629883,-52.246094,14.85,426.098774,3,173.915797,1.266335,NaN,NaN,NaN,NaN,NaN,8 mM,-59.615979,Mitte,temporal,33.0,Aoife
3,OP230420,23420003.abf,S1,7,23420S1c7,D1,TTX,0.0,yes,10.416389,7.269195,39.186101,-69.268799,24,300.0,75.030518,-29.699707,242.553711,-71.411133,17.15,478.273362,4,598.079936,0.994396,NaN,NaN,NaN,NaN,NaN,8 mM,-61.173839,Mitte,temporal,33.0,Aoife
4,OP230420,23420003.abf,S1,8,23420S1c8,D1,TTX,0.0,yes,10.416389,6.000400,31.599917,-70.550537,22,350.0,81.011963,-33.068848,309.448242,-61.401367,16.65,575.513924,5,786.927898,1.182830,NaN,NaN,NaN,NaN,NaN,8 mM,-60.956350,Mitte,temporal,33.0,Aoife

In [12]:
df_with_info.count()

OP                          937
filename                    937
slice                       937
cell_ch                     937
cell_ID                     937
day                         937
treatment                   937
hrs_incubation              937
repatch                     937
hrs_after_OP                937
Rs                          937
Rin                         937
resting_potential           937
max_spikes                  937
Rheobase                    934
AP_heigth                   934
TH                          934
max_depol                   934
max_repol                   934
membra_time_constant_tau    937
capacitance                 937
comments                    824
rheo_ramp                   120
AP_halfwidth                929
Rheobse_ramp                160
Unnamed: 27                   0
rheos_ramp                   32
comment                       7
                             74
high K concentration        937
RMP_from_char               937
tissue_source               826
area                        826
patient_age                 826
patcher                     826
dtype: int64

In [13]:
info['patcher'].value_counts()

patcher
Oisin      23
Niamh      12
Fiachra     4
Aoife       3
Name: count, dtype: int64

In [14]:
df_with_info['patcher'].value_counts()

patcher
Oisin      520
Niamh      199
Aoife       61
Fiachra     46
Name: count, dtype: int64

In [15]:
df_no_empty = df.merge(info, on='OP', how='inner')

In [16]:
df_no_empty.shape

(826, 35)

# 2. Remove outliers from the table

1. Load the list of outliers in `outliers.csv`
2. Use an anti-join to remove the outliers from the table
3. How many samples (rows) are left in the data?

In [18]:
outliers = pd.read_csv('outliers.csv')

In [19]:
outliers.shape

(134, 2)

In [20]:
outliers.head()

         OP              cell_ID
0  OP240201            24201S2c2
1  OP210323  2021_03_25_0S4_D2c6
2  OP230808            23808S2c6
3  OP240503            24503S1c6
4  OP230109             2311S3c2

In [21]:
temp = df_with_info.merge(outliers, on=['OP', 'cell_ID'], how='outer', indicator=True)

In [22]:
df_without_outliers = temp[temp['_merge'] == 'left_only'].drop('_merge', axis=1)

In [23]:
df_without_outliers.shape

(751, 35)

In [24]:
df_without_outliers.head()

,OP,filename,slice,cell_ch,cell_ID,day,treatment,hrs_incubation,repatch,hrs_after_OP,Rs,Rin,resting_potential,max_spikes,Rheobase,AP_heigth,TH,max_depol,max_repol,membra_time_constant_tau,capacitance,comments,rheo_ramp,AP_halfwidth,Rheobse_ramp,Unnamed: 27,rheos_ramp,comment,,high K concentration,RMP_from_char,tissue_source,area,patient_age,patcher
0,OP201027,20o27002.abf,S1,2,20o27S1c2,D1,Ctrl,0.0,yes,7.045278,10.859127,61.554340,-61.407471,32,150.0,83.782959,-40.563965,253.662109,-68.725586,15.00,266.695605,NaN,NaN,1.111890,NaN,NaN,NaN,NaN,NaN,15 mM,-61.388109,Bielefeld,temporal,70.0,Oisin
1,OP201027,20o28003.abf,S1_D2,2,20o27S1c2,D2,Ctrl,21.5,yes,29.130000,8.953562,72.081251,-69.165039,24,300.0,80.511475,-33.337402,232.543945,-64.208984,13.35,238.004788,8,NaN,1.129517,NaN,NaN,NaN,NaN,NaN,15 mM,-69.159207,Bielefeld,temporal,70.0,Oisin
2,OP201027,20o27002.abf,S1,4,20o27S1c4,D1,Ctrl,0.0,no,7.045278,9.230981,27.556625,-81.768799,4,1400.0,59.924316,-48.919678,173.706055,-43.701172,5.25,363.704017,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15 mM,-81.810854,Bielefeld,temporal,70.0,Oisin
3,OP201027,20o27002.abf,S1,7,20o27S1c7,D1,Ctrl,0.0,no,7.045278,8.786273,50.144540,-53.759766,24,250.0,73.266602,-36.566162,181.762695,-61.889648,15.60,417.290449,3,NaN,1.120129,NaN,NaN,NaN,NaN,NaN,15 mM,-53.739158,Bielefeld,temporal,70.0,Oisin
4,OP201027,20o27017.abf,S2,1,20o27S2c1,D1,TTX,0.0,no,9.108056,11.570673,42.072217,-50.622559,2,200.0,32.061768,-17.218018,45.166016,-21.362305,10.75,273.916019,5,NaN,1.330091,NaN,NaN,NaN,NaN,NaN,15 mM,-50.616701,Bielefeld,temporal,70.0,Oisin

# 3. Save final result in `processed_RCT_collected_data.csv`

1. Using the `.to_csv` method of Pandas DataFrames

In [26]:
df_without_outliers.to_csv('processed_RCT_collected_data.csv', index=None)